USE [master]
GO
/****** Object:  Database [RealEstateCompany]    Script Date: 22.03.2026 17:11:10 ******/
CREATE DATABASE [RealEstateCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealEstateCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RealEstateCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RealEstateCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RealEstateCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateCompany]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 22.03.2026 17:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuildingNumber] [int] NOT NULL,
	[ApartmentNumber] [int] NOT NULL,
	[Rooms] [int] NULL,
	[Area] [decimal](10, 2) NULL,
	[Floor] [int] NULL,
	[Price] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22.03.2026 17:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PassportData] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 22.03.2026 17:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.03.2026 17:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartments] ON 

INSERT [dbo].[Apartments] ([Id], [BuildingNumber], [ApartmentNumber], [Rooms], [Area], [Floor], [Price]) VALUES (1, 1, 1, 2, CAST(45.50 AS Decimal(10, 2)), 1, CAST(3500000.00 AS Decimal(12, 2)))
INSERT [dbo].[Apartments] ([Id], [BuildingNumber], [ApartmentNumber], [Rooms], [Area], [Floor], [Price]) VALUES (2, 1, 2, 2, CAST(46.00 AS Decimal(10, 2)), 1, CAST(2550000.00 AS Decimal(12, 2)))
INSERT [dbo].[Apartments] ([Id], [BuildingNumber], [ApartmentNumber], [Rooms], [Area], [Floor], [Price]) VALUES (3, 1, 3, 3, CAST(68.20 AS Decimal(10, 2)), 2, CAST(3800000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [PassportData]) VALUES (1, N'Иванов Иван Иванович', N'+7(912)123-45-67', N'4510 123456')
INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [PassportData]) VALUES (2, N'Петрова Анна Сергеевна', N'+7(913)987-65-43', N'4511 789012')
INSERT [dbo].[Clients] ([Id], [FullName], [Phone], [PassportData]) VALUES (3, N'Сидоров Петр Алексеевич', N'+7(922)555-66-77', N'4512 345678')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [ApartmentId], [ClientId], [SaleDate], [Amount], [Status]) VALUES (1, 1, 1, CAST(N'2025-01-15' AS Date), CAST(2500000.00 AS Decimal(12, 2)), N'Продана')
INSERT [dbo].[Sales] ([Id], [ApartmentId], [ClientId], [SaleDate], [Amount], [Status]) VALUES (2, 3, 2, CAST(N'2025-02-20' AS Date), CAST(3800000.00 AS Decimal(12, 2)), N'Продана')
INSERT [dbo].[Sales] ([Id], [ApartmentId], [ClientId], [SaleDate], [Amount], [Status]) VALUES (3, 5, 3, CAST(N'2025-03-10' AS Date), CAST(2900000.00 AS Decimal(12, 2)), N'Забронирована')
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (1, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (2, N'manager', N'manager123', N'Manager')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (3, N'almaz', N'123456', N'Manager')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4224052FD]    Script Date: 22.03.2026 17:11:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Apartments] FOREIGN KEY([ApartmentId])
REFERENCES [dbo].[Apartments] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Apartments]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Clients]
GO
USE [master]
GO
